using UnityEngine;
using Nanory.Lex;
using Nanory.Lex.Conversion;

namespace Client
{
    public class {itemname}Authoring : MonoBehaviour, IConvertGameObjectToEntity
    {
        public void Convert(int entity, GameObjectConversionSystem converstionSystem)
        {
            $
        }
    }
}
